// Style file for 'A Cup for Joe'.

@font-face {
  font-family: courier;
}

.nav-tabs > li {
  float: none;
  display: inline-block;
}

.nav-tabs {
  text-align: center;
  background: #FF9912;
}


nav .nav-tabs a:hover {
  background: maroon;
}
nav .nav-tabs > li > a {
  color: white;
  background-color: sienna;
  text-shadow: 1px black, 1px black, 1px black, 1px black;
}

span.fancy {
  font-style: oblique;
}

span.dark {
  font-weight: 900;
}

footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: sienna;
  color: maroon;
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0;
}

.headline {
  background: #FF9912; /*Cadmium Yellow*/
  text-align: center;
  height: 125px;
}

.content {
  text-align: center;
  background: #FF9912;
}

.content-filler {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background: maroon;
}

.content-list {
  margin-left: auto;
  margin-right: auto;
  background: maroon;
  color: white;
}

#coffeeShopList li {
  text-align: center;
  list-style-type: none;
}

.coffee-types {
  background: maroon;
  color: white;
}

.coffee-types > img {
  margin: auto;
  display: block;
  height: 250px;
  width: 250px;
}
